ul
  li
    a( href: '/show/list' ) Shows
  li
    a( href: '/user/new' ) New user
  li
    a( href: '/user/logout' ) Logout

- if (new_episodes.length > 0)
  ul
    - each episode in new_episodes
      li
        a(href: '/episode/details/' + episode.id )
          = episode.showname + ' ' + episode.name
          |  (air date: 
          = input.date_parser(episode.date) + ')'