!!! 5
html
  head
    meta( charset: 'utf-8' )
    title have you seenit?
    link( rel: 'stylesheet', href: '/css/style.css' )
  body
    h1 
      a( href: '/' ) seenit
    - if (!session.logged_in && typeof(nologin) === 'undefined')
      - if (login && login.error)
        span.error Name or password wrong
      form(method: 'post', action: '/user/login')
        input( type: 'hidden', name: 'pre_login_url', value: currentURL)
        label(for: 'login_name') name
        input#login_name( type: 'text', name: 'login_name', value: login ? login.name || '' : '' , autofocus: !login || login.name === '')
        label(for: 'login.pwd') pwd
        input#login_pwd( type: 'password', name: 'login_password', autofocus: !login || login.name !== '' )
        input( type: 'submit', name: 'login_submit', value: 'login' )
    - if (typeof(page_name) !== 'undefined')
      h2
        =page_name
    != body

  script( src: '//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js' )
  :javascript
    !window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.5.js"%3E%3C/script%3E'))
  script( src: '/js/jquery.xcolor.js' )
  script( src: '/js/main.js' )
