#simplemodal-overlay
  background-color #777

#simplemodal-container
  background #fff
  border 5px solid #777
  border-radius 5px
  color font-color
  display block
  padding 0 10px

  #close_modal
    position absolute
    right 5px
    top 5px

  h1
    margin 5px 0 10px

#simplemodal-container a.modalCloseImg 
  background url(/images/icons/close.png) no-repeat
  cursor pointer
  display inline
  height 29px
  position absolute
  right -18px
  top -15px
  width 25px
  z-index 3200