ul.show_search li.import
  cursor pointer
  margin 3px 0
  padding 4px
  
  &:hover
    background-color #e1e5f2

.tvdb_import_controls
  margin 0 20px 10px

ul.show_index
  
  img
    margin 5px 10px

ul.show_details
  label
    font-weight bold
    display inline
    margin-right 8px
    
    &:after
        content ':'
  
#season_contents
  .loading
    height 300px
  .season_seen_container
    margin 0 20px 10px
  
ul.episode_list
  h3
    line-height 20px
    font-size 16px
    
  .seen_button
    margin 10px