@import "defaults.styl"
@import "mixins.styl"

@import "modal.styl"

.error
  display: none
  color: font-color-error

.loading
  display: none
  word-wrap: elipsis

.fake_link
  cursor: pointer
  color: link-color

.jGrowl-notification, .jGrowl-closer
  background-color #333
  gradient #ccf, white
  border 1px solid #888
  border-radius 5px
  box-shadow 3px, 3px, 4px, #333
  color #000
  display none
  opacity 0.9
  padding 4px 8px

.success .jGrowl-message, .success .jGrowl-header
  color #3f3


.jGrowl-header
  font-weight 700

.jGrowl-notification.warning
  color #e8ac14

.jGrowl-close, .jGrowl-closer
  float right
  font-weight bold
  cursor pointer