ul
  - each msg, field in errors
    - if(msg.length > 0)
      li #{field}: #{msg}
form(method: 'post', action: '/season/delete')
  input(type: 'hidden', name: 'id', value: values.id)
  Are you sure you want to delete the season and all it's episodes?
  br
  input(type: 'submit', name: 'cancel', value: 'Cancel')
  input(type: 'submit', name: 'delete', value: 'Delete')
  