- if (errors === 'not found')
  span.error.notfound The season was not found
- else
  b Show:
  a(href: '/show/details/' + parent_id)=parent_id
  br
  b N°:
  = values.number
  br
  b Name:
  = values.name
  br
  b Start date:
  = new Date(values.start).toISOString()
  br
  b End date:
  = new Date(values.end).toISOString()
  br
  b Interval:
  = values.interval
  br
  b Episodes:
    ul
      - each episode in episodes
        li 
          a(href: '/episode/details/' + episode.id)
            = episode.number + ': ' + episode.name
          input(type: 'checkbox', class: 'episode_seen', checked: episode.seen, data-id: episode.id)
      li
        a(href: '/episode/new/' + values.id) Add new Episode
    