ul
  - each msg, field in errors
    - if(msg.length > 0)
      li #{field}: #{msg}
form(method: 'post', action: '/season/new')
  input(type: 'hidden', name: 'show_id', value: show_id)
  label(for="new_number") Number:
  input#new_number(type: 'dial', name: 'number', value: values.number || 1)
  br
  label(for="new_name") Name:
  input#new_name(type: 'text', name: 'name', value: values.name || '')
  br
  label(for="new_num_episodes") Est. N° of episodes:
  input#new_num_episodes(type: 'dial', name: 'num_episodes', value: values.num_episodes || 22)
  br
  label(for="new_start") Start date:
  input#new_start(type: 'date', name: 'start', value: values.start || (new Date().toISOString()))
  br
  label(for="new_end") Est. end date:
  input#new_end(type: 'date', name: 'end', value: values.end || (new Date().toISOString()))
  br
  label(for="new_interval") Days between episodes:
  input#new_interval(type: 'dial', name: 'interval', value: values.interval || 7)
  br
  label(for="new_interval") Have you seen all episodes?
  input#new_interval(type: 'checkbox', name: 'seen', checked: values.seen)
  br
  input(type: 'submit', name: 'create', value: 'Create')