!!! 5
!= '<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->'
!= '<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->'
!= '<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->'
!= '<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->'
!= '<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->'
  head
    meta( charset: 'utf-8' )
    meta( name: 'author', content: 'Moritz Peters')
    title CHANGE ME
    link( rel: 'stylesheet', href: '/css/bootstrap.css' )
    link( rel: 'stylesheet', href: '/css/style.css' )
    script( src: '/js/libs/modernizr-2.0.6.custom.min.js' )
  body
    .container
      header
        h1 Boilerplate
        nav#navigation
        #breadcrumb
        #userbox
      content
        #content

      #templates
      #modal.modal.fade

    //script( src: '//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js' )
    script
      !window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.7.1.js"%3E%3C/script%3E'));

    script( src: '/socket.io/socket.io.js' )

    - if (typeof(i18n_hashes) !== 'undefined')
      script( type: 'text/javascript')
        var i18n_hashes = JSON.parse('!{i18n_hashes}');

    - if (Array.isArray(js_files))
      - each file in js_files
        script( src: '/js/'+file )
    - else
      script( src: '/js/' + cacheTimestamp.js + '/merged.js' )
    
    script( src: '/nohmValidations.js' )