ul
  - each msg, field in errors
    - if(msg.length > 0)
      li #{field}: #{msg}
form(method: 'post', action: '/episode/new')
  input(type: 'hidden', name: 'season_id', value: season_id)
  label(for="new_number") Number:
  input#new_number(type: 'dial', name: 'number', value: values.number || 1)
  br
  label(for="new_name") Name:
  input#new_name(type: 'text', name: 'name', value: values.name || '')
  br
  label(for="new_date") Air date:
  input#new_start(type: 'date', name: 'date', value: values.date || (new Date().toISOString()))
  br
  label(for="new_interval") Have you seen it?
  input#new_interval(type: 'checkbox', name: 'seen', checked: values.seen)
  br
  input(type: 'submit', name: 'create', value: 'Create')