<script type="text/x-jade-tmpl" name="sub_navigation">
ul.nav.pills.small.smaller
  li
    a(href: '#show/')=_t('subnav.list')
  li
    a(href: '#show/search')=_t('subnav.search')
</script>

<script type="text/x-jade-tmpl" name="form">
form.form-horizontal( novalidate: true)
  - var model = parentLocals._model;
  fieldset
    legend=_t('forms.legend')
    br
    span.error.general_error
    
    != form('input', { name: 'name', value: model.get('name') })
    
  != form('input', { type: 'submit', name: 'submit', value: _t('forms.submit') })
</script>

<script type="text/x-jade-tmpl" name="search">
form.form-horizontal( novalidate: true)
  fieldset
    legend=_t('forms.legend')
    br
    span.error.general_error
    
    != form('input', { name: 'name' })
      
    != form('input', { type: 'submit', name: 'submit', value: _t('forms.search') })

ul.show_search
</script>

<script type="text/x-jade-tmpl" name="search_result_line">
- if (collection.length === 0)
  li
    = _t('no_results')
- else
  - collection.forEach(function (item) {
    li.result( data-id: item.get('id') )
      b=item.get('name')
      | (first aired: 
      = item.get('first_aired')
      | )
      - if( item.get('description') )
        |  - 
        = item.get('description')
  - })
</script>

<script type="text/x-jade-tmpl" name="index">
- if (data && data.length)
  ul
    each model in data.models
      li
        a(href:'#show/details/'+model.get('name'))
          != model.get('name')
          br
          img(src:'/images/series_banners/'+model.get('banner'))
- else
  | No shows found.
</script>

<script type="text/x-jade-tmpl" name="details">
ul.show_details
  li
    img(src:'/images/series_banners/'+data.get('banner'))
  li
    b=_t('name')
    = data.get('name')
  li
    - var genres = data.get('genre').replace(/(^\|)|(\|$)/g, '').split('|');
    b
      - if (genres.length > 1)
        = _t('genre')
      - else
        = _t('genre_plural')
    = genres.join(', ')
  li
    b=_t('description')
    = data.get('description')
  li
    b=_t('tvdb_link')
    a(href:'http://thetvdb.com/?tab=series&id='+data.get('tvdb_id'), target: data.get('name')+' TheTVDB')= data.get('tvdb_id')
  li
    b=_t('imdb_link')
    a(href:'http://imdb.com/title/'+data.get('imdb_id'), target: data.get('name')+' IMDB')= data.get('imdb_id')
  li
    b=_t('season_plural')
    ul
      each season in data.get('seasons')
        li
          a.season_opener(data-num: season)
            if parseInt(season, 10) === 0
              =_t('special_season')
            else
              =_t('season')+' '+season
          ul.episode_list
</script>

<script type="text/x-jade-tmpl" name="episode_list">
each episode in episodes
  - var date = moment(episode.first_aired);
  li
    a.episode_opener
      if parseInt(episode.season, 10) == 0
        =episode.name
      else
        #{_t('episode')} #{episode.number} #{episode.season}
    time(datetime:date.format('YYYY-MM-DD'), title:date.format('MMM Do YYYY'))
      =_t('air_date')+': '
      =date.fromNow()
    - if (episode.seen)
      span.seen &#x2713;
    dl.episode_details.hidden
      dt
        label(for: episode.id+'_seen')
          = _t('seen')
      dd
        input.seen_checker(type:'checkbox', checked:episode.seen, id: episode.id+'_seen')
        
      dt
        = _t('name')
      dd
        = episode.name
      
      if episode.plot
        dt
          = _t('plot')
        dd
          = episode.plot
      
      if episode.imdb_link
        dt
          =_t('imdb_link')+':'
        dd
          a(href:'http://imdb.com/title/'+episode.imdb_id, target: episode.name+' IMDB')= episode.imdb_id
</script>

<script type="text/x-jade-tmpl" name="import">
| Importing from TheTVDB. Please wait...
</script>

<script type="text/x-jade-tmpl" name="import_failed">
| Importing failed. Please contact an administrator.
</script>
