<script type="text/x-jade-tmpl" name="list">
if (data.models.length === 0)
  =_t('none_found')
else
  .season_seen_container
    !=partial('season_seen_button', data)
  
  if data.paginated
    .pagination.pagination-centered

  ul.episode_list.pagination_content
    !=partial('episode_details', data.models)
</script>


<script type="text/x-jade-tmpl" name="episode_details">
each episode in args[0]
  li.well.span3.episode_detail(data-id: episode.id)
    if app.user_self.may('edit', 'Episode')
      a.remove(href: '', title: 'Remove')
        i.icon-remove
    h3
      if parseInt(episode.get('season'), 10) == 0
        =episode.get('name')
      else
        =_t('episode')+' '+episode.get('number')
      
    label
      = _t('name')
    span.one_line= episode.get('name')
    
    br
    - var date = moment(episode.get('first_aired') || 0);
    if date > 0
      time(datetime:date.format('YYYY-MM-DD'), title:date.format('MMM Do YYYY'))
        label
          =_t('air_date')
        =date.fromNow()
    else
      label
        =_t('air_date')
      | unknown

    br
    .episode_seen_container
      !=partial('episode_seen_button', episode)
      
    label
      =_t('search_link')
    br
    - search = app.user_self.get('searches')
    - search = search.replace('%name', episode.collection.show_name)
    - search = search.replace('%season_padded', String('0'+episode.get('season')).slice(-2))
    - search = search.replace('%season', episode.get('season'))
    - search = search.replace('%episode_padded', String('0'+episode.get('number')).slice(-2))
    - search = search.replace('%episode', episode.get('number'))
    a(href:search, target: 'User defined search '+search)=search.substr(0,25)+'...'
    br
    
    a.episode_opener(href: '#')
      =_t('more')
    
    .episode_details.hidden          
      
      label
        = _t('plot')
      = episode.get('plot')
      
      br
      if episode.get('imdb_link')
        label
          =_t('imdb_link')+':'
        a(href:'http://imdb.com/title/'+episode.get('imdb_id'), target: episode.get('name')+' IMDB')= episode.get('imdb_id')
</script>


<script type="text/x-jade-tmpl" name="episode_seen_button">
- var episode = locals.episode ? episode : args[0]
- var seen = episode.get('seen');
- var in_future = moment().add('d', 1) > moment(episode.get('first_aired'));
- var class_name = seen ? 'btn-success' : 'btn-info';
.btn-group.dropdown.episode_seen_button
  a.btn.dropdown-toggle("class":class_name, data-toggle: "dropdown")
    if seen
      =_t('has_seen')
    else if in_future
      =_t('has_not_seen')
    else
      =_t('not_released')
    span.caret
  ul.dropdown-menu
    li( "class": seen ? '' : 'hidden' )
      a.set_not_seen(href: '#')= _t('set_not_seen')
    
    li( "class": seen ? 'hidden' : '' )
      a.set_seen(href: '#')= _t('set_seen')
</script>


<script type="text/x-jade-tmpl" name="season_seen_button">
- var season = locals.collection ? collection : args[0];
- var seen = _.all(season.models, function (ep) { return ep.get('seen'); });
- var last_air_date = _.last(season.models).get('first_aired')
- var in_future = moment().add('d', 1).valueOf() < last_air_date;
- var class_name = seen ? 'btn-success' : 'btn-info';
.btn-group.dropdown.season_seen_button
  a.btn.dropdown-toggle("class":class_name, data-toggle: "dropdown")
    if seen
      =_t('has_seen_season')
    else if ! in_future
      =_t('has_not_seen_season')
    else
      =_t('not_released_season')
    span.caret
  ul.dropdown-menu
    li( "class": seen ? '' : 'hidden' )
      a.set_not_seen(href: '#')= _t('set_not_seen_season')
    
    li( "class": seen ? 'hidden' : '' )
      a.set_seen(href: '#')
        if in_future
          = _t('set_seen_season_available')
        else
          = _t('set_seen_season')
          
    li
      a.get_links(href: '#')= _t('wanna_see_season')
</script>


<script type="text/x-jade-tmpl" name="today">
if (data.models.length === 0)
  =_t('none', 'today', 'show')
else
  !=partial('mixed_show_episode_list', data)
</script>

<script type="text/x-jade-tmpl" name="next_up">
if (data.models.length === 0)
  !=_t('none', 'nextUp', 'show')
else
  !=partial('mixed_show_episode_list', data)
</script>

<script type="text/x-jade-tmpl" name="mixed_show_episode_list">
- var episodes = args[0].models
if args[0].paginated
  .pagination.pagination-centered

ul.episode_list.pagination_content
  each episode in episodes
    - var episode_name = episode.get('show')+' S'+String('0'+episode.get('season')).slice(-2)+'E'+String('0'+episode.get('number')).slice(-2)
    li.well.span3.episode_detail(data-id: episode.id)
      h3
        =episode_name
        
      a(href:'#show/details/'+episode.get('show_id')+'/'+episode.get('season'))
        =_t('show_details')
      br
      label
        =_t('name')
      span.one_line= episode.get('name')
      
      br
      - var date = moment(episode.get('first_aired') || 0);
      if date > 0
        time(datetime:date.format('YYYY-MM-DD'), title:date.format('MMM Do YYYY'))
          label
            =_t('air_date')
          =date.format('MMM Do YYYY')
      else
        label
          =_t('air_date')
        | unknown
  
      br
      .episode_seen_container
        !=partial('episode_seen_button', episode)
      
      label
        =_t('search_link')
      br
      - search = app.user_self.get('searches')
      - search = search.replace('%name', episode.get('show'))
      - search = search.replace('%season_padded', String('0'+episode.get('season')).slice(-2))
      - search = search.replace('%season', episode.get('season'))
      - search = search.replace('%episode_padded', String('0'+episode.get('number')).slice(-2))
      - search = search.replace('%episode', episode.get('number'))
      a(href:search, target: 'User defined search '+search)=search.substr(0,25)+'...'
</script>
