<script type="text/x-jade-tmpl" name="input">
- var id = 'input_'+(Math.floor(Math.random()*10))+(+new Date());

.control-group
  if (locals.type !== 'submit')
    
    if (locals.label !== false)
      - var label_class = locals.required ? 'required' : false;
      if (locals.label && locals["data-label"])
        label.control-label(for: id, "data-label": locals["data-label"], "class": label_class)= label
      else if (locals["data-label"])
        label.control-label(for: id, "data-label": locals["data-label"], "class": label_class)!= $.t('forms.labels.'+locals.name)
      else
        label.control-label(for: id, "data-label": locals.name, "class": label_class)
      
    if (typeof(locals.link) === 'undefined')
      - locals.link = true
      
    if (typeof(locals.validate) === 'undefined')
      - locals.validate = true
  
  .controls
    input( id: id
      type: locals.type || 'text',
      name: locals.name,
      required: locals.required,
      value: locals.value,
      "data-link": locals.link,
      "data-validate": locals.validate,
      "data-no_form_class": locals.no_form_class )
      
    if (locals.type !== 'submit')
      span.error.input_error.help-inline
      
    if (locals.type !== 'submit' && locals.loading !== false)
      .loading.help-inline.hidden!= $.t('forms.labels.checking')
</script>