<script type="text/x-jade-tmpl" name="register">
h1!=_t('headline')
form.form-horizontal( novalidate: true)

    fieldset
      legend=_t('legend')
      span.error.general_error
      
      !=partial('username')
      !=partial('password')
      !=partial('password_repeat')
      !=partial('email')
    != form('input', { type: 'submit', name: 'register', value: _t('forms.submit') })
</script>

<script type="text/x-jade-tmpl" name="sub_navigation">
ul.nav.pills
  - if(app.user_self.get('name'))
    each link in ['profile', 'list', 'logout']
      li
        a( href: '#user/'+link)= _t(link)
  - else
    each link in ['register', 'login']
      li
        a( href: '#user/'+link)= _t(link)
</script>

<script type="text/x-jade-tmpl" name="list">
- if (users)
  ul
    each model in users.models
      li!= JSON.stringify(model.toJSON())
- else
  | No users found
</script>

<script type="text/x-jade-tmpl" name="details">
span Some stinking user details!
</script>

<script type="text/x-jade-tmpl" name="profile">
ui
  li ID: 
    = loaded.data.id
  li Name: 
    = loaded.data.get('name')
  li E-Mail: 
    = loaded.data.get('email')
  li Admin: 
    = loaded.data.get('admin')
  li
    a( href: '#user/edit_profile') Edit
</script>


<script type="text/x-jade-tmpl" name="login">
form( novalidate: true)
  fieldset
    span!=_t('login_legend')
    span.error.general_error
    !=form('input', { name: 'name', validate: false})
    !=form('input', { type: 'password', name: 'password', validate: false})
  != form('input', { type: 'submit', name: 'login', value: _t('forms.login') })
</script>



<script type="text/x-jade-tmpl" name="username">
!= form('input', { name: 'name'})
</script>

<script type="text/x-jade-tmpl" name="password">
!= form('input', { type: 'password', name: 'password'})
</script>

<script type="text/x-jade-tmpl" name="password_repeat">
!= form('input', { type: 'password', name: 'password_repeat' })
</script>

<script type="text/x-jade-tmpl" name="email">
!= form('input', { name: 'email'})
</script>

<script type="text/x-jade-tmpl" name="userbox">
- if( loaded.success === true )
  | logged in as #{loaded.data.name}
- else
  | yo, dude. need to 
  a.open_login(href:'#') log the fuck in!
</script>