<script type="text/x-jade-tmpl" name="breadcrumb">
ul.breadcrumb
  li
    a( href: '##{module}')= module
    span.divider |
  li
    a#reload_page Reload
</script>

<script type="text/x-jade-tmpl" name="top_navigation">
ul.nav.tabs
  li
    a(href: '#main') Main
  li
    a(href: '#user') User
ul.sub_navigation
</script>

<script type="text/x-jade-tmpl" name="modal">
.modal
  .modal-header
    a.close(data-dismiss:"modal") x
    h3=header
  .modal-body
    !=body
</script>

<script type="text/x-jade-tmpl" name="error">
| There was an error while rendering the requeste page.
br
| You can 
a.reload_page(href:'#asd') retry
| , 
a.go_back(href:'#') go back
|  or continue browsing from here.
br
| We'd also be happy if you could contact an administrator about this so we can make sure it doesn't happen again.
</script>