<script type="text/x-jade-tmpl" name="input">
- var id = 'input_'+(Math.floor(Math.random()*10))+(+new Date());
- if (locals.error !== false)
  span.error

- if (locals.label && locals.label !== false)
  label(for: id, "data-label": locals["data-label"])= label
- else if (locals.label !== false)
  label(for: id, "data-label": locals["data-label"])!= $.t('forms.labels.'+locals.name)
  
- if (typeof(locals.link) === 'undefined')
  - locals.link = true
  
input( id: id
  type: locals.type,
  name: locals.name,
  required: locals.required,
  value: locals.value,
  "data-link": locals.link
  )
  
- if (locals.loading !== false)
  .loading!= $.t('forms.labels.checking')
</script>