<script type="text/x-jade-tmpl" name="sub_navigation">
ul.nav.nav-pills.small
  li
    a(href: '#show/')=_t('subnav.list')
  li
    a(href: '#show/search')=_t('subnav.search')
</script>


<script type="text/x-jade-tmpl" name="search">
form.form-horizontal( novalidate: true)
  fieldset
    legend=_t('forms.legend')
    br
    span.error.general_error
    
    != form('input', { name: 'name', no_form_class: true })
    
    .button-row.offset2
      button.btn( type: 'submit', data-form: 'submit' )=_t('forms.search')

if typeof(args) === 'undefined'
  !=partial('cant_find_show')
  
#no_results_import

ul.show_search
</script>


<script type="text/x-jade-tmpl" name="search_tvdb">
!=partial('search', true)
</script>


<script type="text/x-jade-tmpl" name="cant_find_show">
.tvdb_import_controls
  a#cant_find_show.hidden.fake_link( data-toggle: "collapse", data-target: "#cant_find_show_content" )
   =_t('cant_find_show')
   
  #cant_find_show_content.collapse
    p!=_t('not_found_import_question')
    
    button!=_t('start_import')
</script>


<script type="text/x-jade-tmpl" name="no_results_import">
!=_t(['no_results_import', search || ''])

h2
  !=_t('thetvdb_results')
</script>


<script type="text/x-jade-tmpl" name="search_result">
if (collection.length === 0)
  li
    = _t('no_results')
else
  each model in collection.models
    if model.get('banner')
      !=partial('list_item', model)
    else
      li.import( data-id: model.get('id') )
        b=model.get('name')
        |  (first aired: 
        = model.get('first_aired')
        | )
        - if( model.get('description') )
          |  - 
          = model.get('description')
</script>


<script type="text/x-jade-tmpl" name="index">
- if (data && data.models.length)

  if data.paginated
    .pagination.pagination-centered
    
  ul.thumbnails.show_index
    each model in data.models
      !=partial('list_item', model)
- else
  | No shows found.
</script>

<script type="text/x-jade-tmpl" name="list_item">
- var model = args[0]
li
  a.thumbnail.span10(href:'#show/details/'+model.get('name'))
    span
      =model.get('name') 
      if model.get('following')
        |  - 
        =_t('youre_following')
    if model.get('banner')
      img(src:'/images/series_banners/'+model.get('banner'), title: model.get('name'), alt: model.get('name'))
</script>


<script type="text/x-jade-tmpl" name="details">

if (data.get('banner'))
  img.thumbnail(src:'/images/series_banners/'+data.get('banner'))

h2
  = data.get('name')

ul.show_details
  li
    - var genres = data.get('genre').replace(/(^\|)|(\|$)/g, '').split('|');
    label
      - if (genres.length > 1)
        = _t('genre')
      - else
        = _t('genre_plural')
    = genres.join(', ')
  li
    label=_t('description')
    = data.get('description')
  li
    label=_t('tvdb_link')
    a(href:'http://thetvdb.com/?tab=series&id='+data.get('tvdb_id'), target: data.get('name')+' TheTVDB')= data.get('tvdb_id')
  li
    label=_t('imdb_link')
    a(href:'http://imdb.com/title/'+data.get('imdb_id'), target: data.get('name')+' IMDB')= data.get('imdb_id')
  li.following
    !=partial('follow_button', data)
  li
    br
    label=_t('season_plural')
    br
    ul.seasons.nav.nav-pills
      each season in data.get('seasons')
        li.nav-pill
          a.season_opener( 
            data-toggle="tab",  
            data-num: season, 
            data-target='#season_contents div.tab-pane[data-num="'+season+'"]' 
          )
            if parseInt(season, 10) === 0
              =_t('special_season')
            else
              =_t('season')+' '+season
    
    #season_contents.tab-content.thumbnails
      each season in data.get('seasons')
        .tab-pane(data-num: season)
          !=partial('loading_episode_list')
</script>


<script type="text/x-jade-tmpl" name="follow_button">
- var show = locals.show ? show : args[0];
- var following = show.get('following');
- var class_name = following ? 'btn-success' : 'btn-info';
.btn-group.dropdown.following_button
  a.btn.dropdown-toggle("class":class_name, data-toggle: "dropdown")
    if following
      =_t('youre_following')
    else
      =_t('not_following')
    span.caret
  ul.dropdown-menu
    li
      if following
        a.unset_follow(href: '#')= _t('stop_follow')
      else
        a.set_follow(href: '#')= _t('start_follow')
      
    li
      a.explain(href: '#')= _t('what_means_follow')
</script>


<script type="text/x-jade-tmpl" name="loading_episode_list">
.loading Loading
</script>


<script type="text/x-jade-tmpl" name="import">
| Importing from TheTVDB. Please wait...
</script>


<script type="text/x-jade-tmpl" name="import_failed">
| Importing failed. Please contact an administrator.
</script>
