<script type="text/x-jade-tmpl" name="register">
h1!=_t('headline')
form( novalidate: true)

  .fieldset_wrapper
    fieldset
      legend=_t('legend')
      span.error.general_error
      ul
        li!=partial('username')
        li!=partial('password')
        li!=partial('password_repeat')
        li!=partial('email')
    != form('input', { type: 'submit', name: 'register', value: _t('forms.submit') })
</script>

<script type="text/x-jade-tmpl" name="index">
ul
  each link in ['register', 'profile', 'list']
    li
      a( href: '#user/'+link)= _t(link)
</script>

<script type="text/x-jade-tmpl" name="list">
- if (users)
  ul
    each model in users.models
      li!= JSON.stringify(model.toJSON())
- else
  | No users found
</script>

<script type="text/x-jade-tmpl" name="details">
span Some stinking user details!
</script>

<script type="text/x-jade-tmpl" name="profile">
span
  br 
  the user profile is not implemented yet. :(
  br 
  but you can look at the json data in the API 
  a( href: "/REST/User/1")
    /REST/User/[id]
  br
  | (
  span.fake_link(onclick: "app.overlay({view: 'login_needed'})")
    | login needed
  | )
</script>


<script type="text/x-jade-tmpl" name="login">
form( novalidate: true)
  .fieldset_wrapper
    fieldset
      legend=_t('login')
      span.error.general_error
      ul
        li!=partial('username')
        li!=partial('password')
    != form('input', { type: 'submit', name: 'login', value: _t('forms.submit') })
</script>



<script type="text/x-jade-tmpl" name="username">
!= form('input', { name: 'name'})
</script>

<script type="text/x-jade-tmpl" name="password">
!= form('input', { type: 'password', name: 'password'})
</script>

<script type="text/x-jade-tmpl" name="password_repeat">
!= form('input', { type: 'password', name: 'password_repeat', required: true })
</script>

<script type="text/x-jade-tmpl" name="email">
!= form('input', { name: 'email'})
</script>