<script type="text/x-jade-tmpl" name="form">
form.form-horizontal( novalidate: true)
  - var model = parentLocals._model;
  fieldset
    legend=_t('legend')
    span.error.general_error
    
    != form('input', { name: 'name', value: model.get('name') })
    
  != form('input', { type: 'submit', name: 'submit', value: _t('forms.submit') })
</script>

<script type="text/x-jade-tmpl" name="search">
form.form-horizontal( novalidate: true)
  span.error.general_error
  
  != form('input', { name: 'name' })
    
  != form('input', { type: 'submit', name: 'submit', value: _t('forms.search') })

ul.show_search
</script>

<script type="text/x-jade-tmpl" name="search_result_line">
- if (collection.length === 0)
  li
    = _t('no_results')
- else
  - collection.forEach(function (item) {
    li.result( data-id: item.get('id') )
      b=item.get('name')
      | (first aired: 
      = item.get('first_aired')
      | )
      - if( item.get('description') )
        |  - 
        = item.get('description')
  - })
</script>

<script type="text/x-jade-tmpl" name="index">
- if (data && data.length)
  ul
    each model in data.models
      li
        a(href:"#show/detail/"+model.get('name'))!= model.get('name')
- else
  | No shows found.
</script>


<script type="text/x-jade-tmpl" name="sub_navigation">
ul.nav.pills.small.smaller
  li
    a(href: '#show/')=_t('subnav.list')
  li
    a(href: '#show/search')=_t('subnav.search')
</script>