- if (errors === 'not found')
  span.error.notfound
    | The show was not found.
    a(href: '/show/new') Maybe create one?
- else
  b Name:
  = values.name
  br
  b Seasons:
    ul
      - each id in seasons
        li
          a(href: '/season/details/' + id)=id
          a(href: '/season/edit/' + id) edit
          a(href: '/season/delete/' + id) delete
      li
        a(href: '/season/new/' + values.id) Add new Season
    