ul
  - each msg, field in errors
    - if(msg.length > 0)
      li #{field}: #{msg}
form(method: 'post', action: '/show/edit')
  input(type: 'hidden', name: 'id', value: values.id)
  label(for="edit_name") Name:
  input#edit_name(type: 'text', name: 'name', value: values.name || '')
  br
  input(type: 'submit', name: 'edit', value: 'Edit')